@model Cooking.Models.DetailsRecipeViewModel

@{
    ViewBag.Title = "Details";
}

@if (System.Security.Claims.ClaimsPrincipal.Current.IsInRole(Cooking.Data.RoleConst.Administrator))
{
    <div class="panel panel-default">
        <div class="panel-body">
            @*<div class="btn-group">*@
                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            @*</div>*@
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-5">
                <img src="@Model.ImageUrl" alt="" class="img-thumbnail img-responsive" id="recipeImage" />
            </div>
            <div class="col-md-7">
                <h1 class="h2">@Html.DisplayFor(model => model.Name)</h1>
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
                <h2 class="h4">@Html.DisplayNameFor(model => model.Ingredients)</h2>
                <ul id="ingredientsList">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <li>@ingredient</li>
                    }
                </ul>
            </div>
        </div>
        <h2 class="h4">@Html.DisplayNameFor(model => model.PrepareInstructions)</h2>
        <p>
            @Html.DisplayFor(model => model.PrepareInstructions)
        </p>
    </div>

    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">Similar recipes</div>
            <div class="panel-body">
                @foreach (var recipe in Model.LatestRecipes)
                {
                    <a href="@Url.Action("Details", new { id = recipe.Id })" title="@recipe.Name">
                        <img src="@recipe.ImageUrl" class="img-responsive img-thumbnail" />
                    </a>
                }
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-success">
            <div class="panel-heading">Latest recipes</div>
            <div class="panel-body">
                @foreach (var recipe in Model.LatestRecipes)
                {
                    <a href="@Url.Action("Details", new { id = recipe.Id })" title="@recipe.Name">
                        <img src="@recipe.ImageUrl" class="img-responsive img-thumbnail" />
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Recipes", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<style>

</style>
